<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
         <antTask name="textuml.compile" class="com.abstratt.mdd.frontend.ant.CompileTask" library="ant_tasks/tasks.jar"
         			headless="true" />
   </extension>

</plugin>
