<plugin>
   <extension 
         point="org.eclipse.ui.editors">
      <editor
            class="com.abstratt.mdd.internal.ui.editors.TextUMLEditor"
            default="true"
            icon="icons/full/TextUMLSourceFile.gif"
            id="com.abstratt.mdd.frontend.textuml.ui.editors.textumleditor"
            name="TextUML Editor">
         <contentTypeBinding contentTypeId="com.abstratt.mdd.frontend.textuml.core.tuml"/>
      </editor>
      <editor
            class="com.abstratt.mdd.internal.ui.editors.source.TextUMLViewer"
            default="false"
            icon="icons/full/UMLModelFile.gif"
            id="com.abstratt.mdd.frontend.textuml.ui.editors.textumlviewer"
            name="TextUML Viewer">
          <contentTypeBinding contentTypeId="com.abstratt.mdd.core.uml"/>
          <contentTypeBinding contentTypeId="org.eclipse.uml2"/>
          <contentTypeBinding contentTypeId="org.eclipse.uml2.uml"/>
	      <contentTypeBinding contentTypeId="org.eclipse.uml2.uml_2_0_0"/>
	      <contentTypeBinding contentTypeId="org.eclipse.uml2.uml_2_1_0"/>
	      <contentTypeBinding contentTypeId="org.omg.uml"/>
	      <contentTypeBinding contentTypeId="org.omg.uml_2_1"/>
	      <contentTypeBinding contentTypeId="org.omg.uml_2_1_1"/>
	      <contentTypeBinding contentTypeId="org.omg.uml_2_1_2"/>
	      <contentTypeBinding contentTypeId="org.omg.mof.cmof"/>
      </editor>
   </extension>
<extension
      point="org.eclipse.ui.editorActions">
   <editorContribution
         id="com.abstratt.mdd.frontend.textuml.ui.editorContributions"
         targetID="com.abstratt.mdd.frontend.textuml.ui.editors.textumleditor">
      <menu
            id="com.abstratt.mdd.frontend.textuml.ui.sourceMenu"
            label="%SourceMenu.label"
            path="additions">
         <separator
               name="group1">
         </separator>
      </menu>
      <action
            accelerator="Ctrl+Shift+F"
            class="com.abstratt.mdd.internal.ui.FormatActionDelegate"
            id="com.abstratt.mdd.frontend.textuml.ui.action.format"
            label="%FormatAction.label"
            menubarPath="com.abstratt.mdd.frontend.textuml.ui.sourceMenu/group1"
            style="push">
      </action>
   </editorContribution>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="com.abstratt.mdd.internal.ui.TextUMLPreferencePage"
         id="com.abstratt.mdd.frontend.textuml.ui.mainPage"
         name="TextUML">
   </page>
</extension>
<extension
      point="org.eclipse.ui.editors.templates">
   <template
         autoinsert="true"
         contextTypeId="com.abstratt.mdd.frontend.textuml.ui.topLevelTemplateContext"
         description="Declares a new empty class"
         id="com.abstratt.mdd.frontend.textuml.ui.newClassTemplate"
         name="newClass">
      <pattern>
         class $className

end;
      </pattern>
   </template>
   <template
         autoinsert="true"
         contextTypeId="com.abstratt.mdd.frontend.textuml.ui.templateRootContext"
         description="Declares a new empty package"
         id="com.abstratt.mdd.frontend.textuml.ui.newPackageTemplate"
         name="newPackage">
      <pattern>
         package $packageName

end.
      </pattern>
   </template>
   <contextType
         class="com.abstratt.mdd.frontend.textuml.ui.TemplateContextType1"
         id="com.abstratt.mdd.frontend.textuml.ui.templateRootContext">
   </contextType>
   <include
         file="com.abstratt.mdd.frontend.textuml.ui.include1">
   </include>
</extension>
</plugin>
