<plugin>
   <extension
         id="compilerApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="com.abstratt.mdd.frontend.cli.EclipseCompilationDirectorCLI"/>
      </application>
   </extension>
   <extension
         id="compilerProduct"
         point="org.eclipse.core.runtime.products" >
      <product
            application="com.abstratt.mdd.frontend.cli.compilerApplication"
            name="MDD Front-end command-line interface">
      </product>
   </extension>
</plugin>
