<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.abstratt.mdd.frontend.core.frontEndLanguage">
      <language
            file-extension="tuml"
            name="TextUML"
            compiler="com.abstratt.mdd.internal.frontend.textuml.core.TextUMLCompiler"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="tuml"
            id="tuml"
            name="TextUML content"
            base-type="org.eclipse.core.runtime.text"
            priority="normal"/>
   </extension>

</plugin>
