<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="TextUML Toolkit dependencies" sequenceNumber="4">
<locations>
		<location includeAllPlatforms="false" includeMode="planner"
			includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.platform.feature.group" version="0.0.0" />
			<unit id="org.junit" version="0.0.0" />
                        <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0" />

			<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0" />
			<unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0" />
            <unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.2.v20150202-0947" />			
            <!-- Specific release to avoid Eclipse bug 430375 -->
			<repository location="http://download.eclipse.org/releases/luna/201502271000" />
		</location>
		
		<location includeAllPlatforms="false" includeMode="planner"
			includeSource="true" type="InstallableUnit">
    		<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0" />
			<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/head/R201409090713/" />
		</location>

		
		<location includeAllPlatforms="false" includeMode="planner"
			includeSource="true" type="InstallableUnit">
			<unit id="org.apache.commons.lang" version="0.0.0" />
			<unit id="org.apache.commons.lang3" version="0.0.0" />			
			<unit id="org.apache.commons.io" version="0.0.0" />
			<unit id="org.apache.commons.beanutils" version="0.0.0" />
			<unit id="org.apache.commons.fileupload" version="0.0.0" />
            <unit id="org.apache.commons.collections" version="0.0.0" />			
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/" />
		</location>

		<location includeAllPlatforms="false" includeMode="planner"
			includeSource="true" type="InstallableUnit">
			<unit id="com.abstratt.eclipsegraphviz.feature.feature.group" version="0.0.0" />		
			<repository location="jar:http://repository-textuml.forge.cloudbees.com/snapshot/com/abstratt/eclipsegraphviz/com.abstratt.eclipsegraphviz.repository/2.1.201501/com.abstratt.eclipsegraphviz.repository-2.1.201501.zip!/" />
		</location>
</locations>	
</target>
